<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-inputbar"
        version="0.0.1">
    <name>CDVInputBar</name>

    <js-module name="CDVInputBar" src="www/CDVInputBar.js">
        <clobbers target="CDVInputBar" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">

            <feature name="CDVInputBar">
                <param name="ios-package" value="CDVInputBar" />
            </feature>

        </config-file>

        <!-- Add in the plugin .swift files here -->
        <source-file src="src/ios/CDVInputBar.swift" />
        <header-file src="src/ios/AudioConverterKit.h" />
        <header-file src="src/ios/ExtAudioConverter.h" />
        <source-file src="src/ios/ExtAudioConverter.m" />
        <source-file src="src/ios/FDSoundActivatedRecorder.swift" />
        <header-file src="src/ios/lame.h" />
        <source-file src="src/ios/SwiftSpinner.swift" />
        <source-file src="src/ios/libmp3lame.a" framework="true" />
        <!-- Add in the swift-support plugin by default -->
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />
        <pods-config ios-min-version="11.0" use-frameworks="true" />
        <pod name="Toast-Swift" spec="~> 5.0.0"/>
    </platform>
</plugin>